services:
  frontend:
    build:
      context: frontend
      dockerfile: ../docker/node/Dockerfile
    container_name: vue-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: ../docker/golang/Dockerfile
    container_name: go-backend
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/mappings_db
      - PORT=8080
    depends_on:
      - db
    networks:
      - app-network

  db:
    build:
      context: ./docker/postgres
      dockerfile: Dockerfile
    container_name: postgres-db
    environment:
      LC_ALL: C.UTF-8
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    command: -c log_statement=all
    healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-user}" ]
        interval: 10s
        timeout: 5s
        retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
